name: Build workspace
on:
  pull_request:
    paths-ignore:
      - '**.md'
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
env:
  LC_ALL: en_US.UTF-8
  LANG: en_US.UTF-8
jobs:
  analyze_source_code:
    name: Analyze Source Code
    runs-on: macos-26
    concurrency:
      group: build-workspace-analyze-${{ inputs.ref || github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/prepare-dependencies
      - name: Analyze Dart
        run: flutter analyze
      - name: Analyze Kotlin
        run: ktlint
      - name: Analyze Swift
        run: swiftlint --strict
      - name: Check Dart format
        run: dart format --output=none --set-exit-if-changed .
  build_ios:
    name: Build for iOS
    runs-on: macos-26
    concurrency:
      group: build-workspace-ios-${{ inputs.ref || github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/prepare-dependencies
      - name: Build
        run: cd example && flutter build ios --no-codesign
  build_android:
    name: Build for Android
    runs-on: ubuntu-latest
    concurrency:
      group: build-workspace-android-${{ inputs.ref || github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/prepare-dependencies
      - uses: actions/setup-java@v3
        with:
            distribution: 'zulu'
            java-version: '17'
      - name: Build
        run: cd example && flutter build apk
